*.exe filter=lfs diff=lfs merge=lfs -text
dist/win-unpacked/vosoft-ssh-manager.exe filter=lfs diff=lfs merge=lfs -text
dist/My[[:space:]]Electron[[:space:]]App[[:space:]]Beta[[:space:]]Setup[[:space:]]1.0.0-beta.exe filter=lfs diff=lfs merge=lfs -text
dist/vosoft-ssh-manager[[:space:]]Setup[[:space:]]1.0.0-beta.exe filter=lfs diff=lfs merge=lfs -text
